$photocoverage-elements: 'headline', 'excerpt', 'photos', 'keywords', 'creditline', 'archivedon';

@each $c in $photocoverage-elements {
    .photocoverage-#{$c} {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }
}

.photocoverage-excerpt {
  p {
    font-size: 110%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.photocoverage-photos {
    @extend .grey, .lighten-3;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    border-radius: 4px;
}

.photos-container {
    columns: 5 180px;
    column-gap: .5rem;
    width: 100%;
    margin: 0 auto;
    div {
      width: 150px;
      margin: 0 .5rem .5rem 0;
      width: 100%;
      transition: all .25s ease-in-out;

      &:hover img {
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
      }

      img {
        width: 100%;
        border-radius: 4px;
        transition: all .25s ease-in-out;
      }
    }
}


.photos-search-results {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.photo-search-results-item {
  width: 300px;
  height: auto;
  margin: 0.5rem;
}
