$photocoverage-elements: 'headline', 'excerpt', 'photos', 'keywords', 'creditline', 'archivedon';

@each $c in $photocoverage-elements {
    .photocoverage-#{$c} {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}

.photocoverage-photos {
    @extend .grey, .lighten-3;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    border-radius: 4px;
}

.photos-container {
    columns: 5 180px;
    column-gap: .5rem;
    width: 100%;
    margin: 0 auto;
    div {
      width: 150px;
      margin: 0 .5rem .5rem 0;
      width: 100%;
      transition: all .25s ease-in-out;

      &:hover img {
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
      }

      img {
        width: 100%;
        border-radius: 4px;
        transition: all .25s ease-in-out;
      }
    }
}
