<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block page_title %}Title{% endblock %}</title>

    <!-- CSS  -->
    <link href="{{ static_url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ static_url_for('static', filename='css/utils.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>

    {% block htmlhead %}{% endblock %}
</head>
<body>
    <header>
      <div class="navbar-fixed">
        <nav class="">
          <div class="nav-wrapper container">
            <div class="brand-logo">
              <a href="{{ url_for('default.index') }}">
                {% block brand %}Redacción{% endblock brand %}
              </a> 
            </div>
           
            <ul class="right hide-on-med-and-down">
              <li><a href="{{ url_for('default.index') }}">Mi trabajo</a></li>
              <li><a href="#!">Envios</a></li>
              <li><a href="#!">Fotos</a></li>
              {% if current_user.is_authenticated %}
              <li><a href="{{ url_for('users.logout') }}"><i class="material-icons">logout</i></a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main>
       
        <!-- main section -->
        <div class="row mt-3">
          <div class="col s12">
              {% block breadcrumb %}
              <nav class="">
                  <div class="nav-wrapper">
                    <div class="col s12">
                      <a href="#!" class="breadcrumb">First</a>
                      <a href="#!" class="breadcrumb">Second</a>
                      <a href="#!" class="breadcrumb">Third</a>
                    </div>
                  </div>
              </nav>
              {% endblock %}
          </div>
        </div>

        <div class="row mt-3"> 
            <div class="col s12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <!-- the footer -->
        <div class="footer-copyright">
          <div class="container ">
            © 2020 Redacción Adelante, por Yoel Benítez Fonseca
            <a class="right" href="https://www.python.org/" target="_blanck">
              Powered by Python
            </a>
        </div>
    </footer>
    <!--  Scripts-->
    <script src="{{ static_url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ static_url_for('static', filename='js/materialize.min.js') }}"></script>
    <script src="{{ static_url_for('static', filename='js/init.js') }}"></script>
    {% block page_js %}{% endblock %}
    </body>
</html>
