{% extends 'layout_full.html' %}

{% block page_title %}Escribir{% endblock %}

{% block breadcrumb %}
<nav class="px-3">
    <div class="nav-wrapper">
        <a href="{{ url_for('default.index') }}" class="breadcrumb">Mi trabajo</a>
        <a href="#!" class="breadcrumb">Escribir</a>
    </div>
</nav>
{% endblock %}

{% block content %}
<div data-controller="editor"
    data-editor-author="{{ current_user.name }}"
    data-editor-apiendpoint="{{ url_for('default.articleEndPoint', pkid=pkid) }}"
    data-editor-imageUpload="{{ url_for('default.upload_image') }}"
    data-editor-imageFetchURL="{{ url_for('default.fetch_image') }}"
    data-editor-linkEndPoint="{{ url_for('default.fetch_link') }}">

    <div class="container">
      <div class="row">
        <div class="input-field col s12">
          <input data-target="editor.headline" type="text" placeholder="Título"/>
        </div>
      </div>

      <div class="row">
        <div class="input-field  col s6">
          <input type="text" data-target="editor.creditline" value=""/>
        </div>
        <div class="col s6">
          <div class="chips chips-placeholder" data-target="editor.tags"></div>
          <span class="helper-text" data-error="wrong" data-success="right">
            Ingrese la palabra clave y presione <code class="grey darken-3 white-text p-1">enter</code>
          </span>
        </div>
      </div>

    </div>

    <div id="editorContent" data-target="editor.content" class="browser-default-uls flow-text mt-5">
    </div>

    <div class="fixed-action-btn editor-tool-box">
      <a class="btn-floating btn-large disabled" data-action="editor#guardar" title="Guardar">
        <i class="large material-icons">save</i>
      </a>
      <ul>
        <li><a class="btn-floating red darken-2" title="Borrar"><i class="material-icons">delete</i></a></li>
        <li><a class="btn-floating" title="Vista previa"><i class="material-icons">pageview</i></a></li>
        <li><a class="btn-floating" title="Enviar"><i class="material-icons">send</i></a></li>
      </ul>
    </div>

</div>
{% endblock %}


{% block page_js %}
<script src="{{ static_url_for('static', filename='js/editorcomp.js') }}"></script>
{% endblock %}
