<div class="gallery--row">

    {% for column in lista_fotos|slice(3) %}
    <div class="gallery--col">
        {% for foto in column %}
            <div class="card">
                <div class="card-image">
                    <a href="{{ url_for('.photo_details', id=foto.md5) }}"><img src="{{ url_for('.photo_thumbnail', id=foto.md5) }}"></a>
                    <a class="btn-floating btn-small halfway-fab waves-effect waves-light grey activator"><i class="material-icons">more_vert</i></a>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn btn-small" 
                        data-controller="urlcopy" 
                        data-urlcopy-url-value="{{ url_for('.fakelink', id=foto.md5, ext=foto.extension, _external=True) }}"
                        data-action="click->urlcopy#copyURL">
                        <i class="material-icons">content_copy</i>
                    </a>
                    {% if can_download_photo(foto.md5) %}
                    <a class="waves-effect waves-light btn btn-small" href="{{ url_for('.photo_download', id=foto.md5) }}">
                        <i class="material-icons">file_download</i>
                    </a>
                    {% endif %}
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ foto.headline }}<i class="material-icons right">close</i></span>
                    <p>{{ render_excerpt(foto.excerpt)|safe }}</p>
                    <i class="material-icons left">label</i> 
                    {% for k in foto.keywords %}
                    <div class="chip">{{ k }}</div>
                    {% endfor %}

                    <p><i class="material-icons left">person</i> {{ foto.taken_by }}</p>
                    <p><i class="material-icons left">file_upload</i> {{foto.uploader.name}}</p>
                    <p><i class="material-icons left">event</i> {{foto.taken_on}}</p>
                    <!-- opcionales -->
                    {% if foto.camera %}<div class="exiftag"><i class="exificon material-icons">camera_alt</i> {{foto.camera}}</div>{% endif %}
                    {% if foto.fnumber %}<div class="exiftag"><i class="exificon material-icons">camera</i> f/{{foto.fnumber}}</div>{% endif %}
                    {% if foto.exposuretime %}<div class="exiftag"><i class="exificon material-icons">av_timer</i> {{foto.exposuretime}}s</div>{% endif %}
                    {% if foto.focal %}<div class="exiftag"><i class="exificon material-icons">lens</i> {{foto.focal}}mm</div>{% endif %}
                    {% if foto.isovalue %}<div class="exiftag"><i class="exificon material-icons">iso</i> {{foto.isovalue}}</div>{% endif %}
                    {% if foto.software %}<div class="exiftag"><i class="exificon material-icons">brush</i> {{foto.software}}</div>{% endif %}
                    {% if foto.image_width and foto.image_height %}<div class="exiftag"><i class="exificon material-icons">crop</i> {{foto.image_width}} x {{foto.image_height}}</div>{% endif %}
                    <!-- en opcionales -->
                </div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}

</div>
