{% extends "layout.html" %}


{% block content %}
<form action="{{ url_for('.photo_edit', id=foto.md5) }}" method="POST" data-controller='PhotoEditForm' data-action="submit->PhotoEditForm#onSubmit">
    <div class="row">
        <div class="col s4">
            <img src="{{ url_for('.photo_thumbnail', id=foto.md5) }}" alt="" class="responsive-img">
        </div>
        <div class="col s8">
            {{ form.csrf_token }}

            <div class="row">
                <div class="input-field col s6">
                    <input class="validate" type="text" name="headline" id="f_headline" value="{{ foto.headline }}"
                        required>
                    <label for="f_headline">Titular</label>
                </div>

                <div class="input-field col s6">
                    <input type="text" name="credit_line" id="f_credit_line" class="validate"
                        value="{{ foto.credit_line }}" required>
                    <label for="f_creadit_line">Creditos</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12 input-field" data-controller="chips" data-chips-placeholder-value="Palabras clave"
                    data-chips-secondary-value="+Palabra"
                    data-PhotoEditForm-target="chips">
                    <input data-chips-target="input" type="hidden" name="tags" id="f_tags"
                        value='{{ foto.keywords|tojson|safe }}'>
                    <div class="chips chips-initial" data-chips-target="view"></div>
                    <label class="active" for="f_tags">Palabras clave</label>
                    <span class="helper-text">
                        Ingrese la palabra clave y presione <code class="grey darken-3 white-text p-1">ENTER</code>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 input-field" data-controller="editor"
            data-editor-placeholder-value="Escribe aquí una descripción de la cobertura"
            data-PhotoEditForm-target="excerpt">
            <input data-editor-target="input" type="hidden" name="excerpt" id="f_excerpt" value='{{ foto.excerpt|safe }}'>
            <label for="f_excerpt" class="active">Descripción</label>
            <div id="excerpt_field" data-editor-target="editor"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button class="btn waves-effect waves-light disabled" type="submit" name="action" data-PhotoEditForm-target="submit">
                Guardar
                <i class="material-icons left">save</i>
            </button>
        </div>
    </div>
</form>
{% endblock %}


{% block page_js %}
<script src="{{ static_url_for('static', filename='js/photoedit_page.js') }}"></script>
{% endblock %}
